*{
margin: 0;
padding: 0;
}
.contalner{
    margin: 0 auto;
    max-width: 1440px;
    height: 96%;
}
.header-area{
    background-color: rgb(65, 185, 225)

/*header area start*/

}
.header{
display: flex;
height: 133px;
justify-content: space-between;
align-items: center;
}
.header ul li{ 
    list-style: none;
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
}
/*header area end*/

.banner-area{
    padding: relative;
    background-image: url(images/banner.png);
    background-size: cover;
    height: 616px;
    width: 1000%;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.principal-area{
    background-color:palegreen;
}
.principal{
display: flex;
}
.principal-img{
margin-right: 10px;
}